.div-style{
    background-image: url(images/holding-phone.svg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
.img-card > img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px; 
    height: 500px;
    border-radius: 25px; 
    filter: drop-shadow(0 0 5px black);
}
.div-card{
    position:static;
    left: 0;
    top: 0;
    right: 0;
    bottom: 5px;
    margin:auto;
}
.img-card1 > img {
    padding-top: 20px;
    padding-bottom: 20px;
    width:80px; 
    border-radius:50%;
    margin:auto;
}
.div-card{
    filter: drop-shadow(0 0 5px rgb(194, 187, 187));
}
